html, body{
	height: 100%;
	width: 100%;
	background-color: #DDDDDD;	
}
.navbar{
	width: 100%;
	background-color: #515151;
	color: #FFFFFF;
	border:0;
  	border-radius:0;
  	position: fixed;
}
.navbar-nav li a {
  	color:#FFFFFF;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-nav li a:hover {
  	color:#555555;
}
.header{
	font-family: arial;
	text-align: center;
	padding: 15vw 0;
}
.name{
	font-size: 9vw;
	font-weight: bold;
}
.title{
	font-size: 3vw;
	text-align: center;
}
.fillerPictureContainer{
	height: 35vw;
}
.fillerPicture{
	height: 100%;
	width: 100%;
}
.about{
	background-color: #515151;
	padding: 20px;
	color: #FFFFFF;
}
.aboutHead{
	font-size: 5vw;
	text-align: center;
}
.aboutText{
	font-size: 2vw;
	text-align: justify;
	margin: 3vw 10vw;
}
.aboutLinks{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.logoLink{
	height: 75px;
	width: 75px;
	margin: 2vw 5vw;
	background-color: grey;
}
.logo{
	width: 100%;
}
.resume{
	padding: 3vw 10vw;
	background-image: ;
}
.resumeContent{
	font-size: 2vw;
}
.skills {
	-webkit-column-count: 3;
	clear: right;
}
.skills p{
	font-weight: bold;
}
.resumeGroup {
	margin: 2vw 0;
}
.resumeGroup p{
	margin: 0 40px;
}
.resumeGroup li{
	font-size: 1.5vw;
}
.projects{
	padding: 40px 200px;
	background-color: #515151;
	padding: 20px;
	color: #FFFFFF;
}
.projectLinks{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 20px;
}
.projectLinks a{
	text-decoration: none;
	color: #FFFFFF;
}
.projectLinks a:hover{
	color: blue;
}
.projectName {
	text-align: center;
	font-size: 2vw
}
.imageLink{
	height: 15vw;
	width: 28vw;
	background-color: grey;
	margin: 2vw 5vw;
}
@media (max-width: 767px){
	.navbar {
		visibility: hidden;
	}
}