<div class="viewContainer">
	<a class="returnHome" href="#/home"><div class="returnContainer">Home</div></a>
	<div class="projectTitle">Bitcurve</div>
	<div class="screenCapture"><img class="screenshot" src="../images/bitScreen1.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/bitScreen2.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/bitScreen3.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/bitScreen4.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/bitCode1.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/bitCode2.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/bitCode3.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/bitCode4.png"></div>
</div>