<div class="viewContainer">
	<div id="top"></div>
	<div class="navbar navbar-static">
		<div class="container">
			<ul class="nav navbar-nav page-navigation">
				<li><a href='#top' du-smooth-scroll du-scrollspy>Home</a></li>
				<li><a href='#about' du-smooth-scroll du-scrollspy>About</a></li>
				<li><a href='#resume' du-smooth-scroll du-scrollspy>Resume</a></li>
				<li><a href='#projects' du-smooth-scroll du-scrollspy>Projects</a></li>
			</ul>
		</div>
	</div>
	<div class="header">
		<a href='#/shh'><div class="shhContainer">Shh!</div></a>
		<a href='#/secret'><div class="secretContainer">Secret!</div></a>
		<a href='#/wolverine'><div class="wolverineContainer">Rawr!</div></a>
		<div class="name"><strong>Jacob Peterson</strong></div>
		<div class="title">Developer</div>
	</div>
	<div class="fillerPictureContainer">
		<div class="fillerPicture"></div> 
	</div>
	<div class="about" id="about">
		<div class="title">About Me</div>
		<div class="aboutText">
			<p>I like soccer, foosball, slurpies...</p>
			<p>...and coding!</p>
		</div>
		<div class="contactTitle">Contact</div>
		<div class="aboutEmail">Email: 
			<a href="mailto:jacobpeterson7@gmail.com?Subject=Hello%20Buckaroo" target="_top">jacobgpeterson7@gmail.com</a>
		</div>
		<div class="aboutLinks">
			<a class="logoLink linkedinLink" href="https://www.linkedin.com/pub/jacob-peterson/ba/3a2/714"></a>
			<a class="logoLink githubLink" href="https://github.com/jacobgpeterson"></a>
		</div>
	</div>
	<div class="resume" id="resume">
		<div class="resumeContent">
			<div><strong>Skills:</strong></div>
			<div class="resumeGroup skills">
				<p>Web Development</p>
				<p>HTML5</p>
				<p>CSS</p>
				<p>Javascript</p>
				<p>Angular</p>
				<p>Jquery</p>
				<p>Nodejs</p>
				<p>MongoDB</p>
				<p>Firebase</p>
				<p>Git</p>
				<p>Github</p>
				<p>CAD</p>
				<p>Customer Service</p>
			</div>
			<div class="resumeGroup"><strong>Experience:</strong>
				<ul><b>Vivint Solar:</b> <i>Nov. 2014 - Mar. 2015</i> <b>CAD Designer</b>
					<li>Designed site plans for residential solar installation.</li> 
					<li>Analyzed data for solar permitting.</li>  
					<li>Designed solar panel systems for commercial structures as needed.</li>
				</ul>
				<ul><b>Macey's:</b> <i>Mar. 2012 - Dec. 2014</i><b>Front End Supervisor</b>
					<li>Supervised and motivated employees to achieve work quality and productivity.</li>
					<li>Served customers to help ensure positive customer service experiences.</li>
					<li>Trained new employees in using check-stand computer systems.</li>
				</ul>
				<ul><b>Private Care Provider:</b> <i>Feb. 2009 - Nov. 2012</i>
					<li>Provided care and support for homebound patient.</li>
					<li>Set and tracked medical and personal appointments and ensured patient arrived punctually and received adequate care.</li>
					<li>Assisted with financial decisions and purchases.</li>
				</ul>
			</div>
			<div class="resumeGroup"><strong>Education:</strong>
				<p><b>Devmountain</b>
					<p><i>MEAN Stack Development</i></p>
				</p>
				<p><b>Utah Valley University</b>
					<p><i>Bachelor of Science in Psychology</i></p>
				</p>
			</div>
		</div>
	</div>
	<div class="projects" id="projects">
		<div class="title">My Projects</div>
		<div class="projectLinks">
			<a href="#/pickup"><div class="projectName">Pick-Up Sports
				<div class="imageLink"><img class="screenshot" src="../images/pickupScreen1.png"></div>
			</div></a>
			<a href="#/bitcurve"><div class="projectName">Bitcurve
				<div class="imageLink"><img class="screenshot" src="../images/bitScreen1.png"></div>
			</div></a>
		</div>
	</div>
</div>