<div id="top" class="viewContainer">
	<a class="returnHome" href="#/home"><div class="returnContainer">Home</div></a>
	<div class="projectTitle">Pick-Up Sports</div>
	<div class="screenCapture"><img class="screenshot" src="../images/pickupScreen1.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/pickupScreen2.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/pickupScreen3.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/pickupScreen4.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/pickupCode1.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/pickupCode2.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/pickupCode3.png"></div>
	<div class="screenCapture"><img class="screenshot" src="../images/pickupCode4.png"></div>
</div>